#page {
	width: 100vw;
	height: 100vh;
	font-variant: normal;
	overflow-y: hidden;
}

.wrapper {
	background-color: #1e1e1e;
	color: white;
	height: 100vh;
	width: 100vw;
	padding: 10px;
	box-sizing: border-box;
	font-family: 'Bebas Neue';

	& > .header {
		text-align: center;
		cursor: default;
		height: 15vh;

		span:not(.sub-header) {
			display: block;
			font-size: 4vh;
			text-transform: uppercase;
			transition: color 0.2s linear;
			margin-top: 2vh;

			&:hover {
				color: #00F;
			}
		}

		span.sub-header {
			display: block;
			font-size: 3vh;
			transition: color 0.2s linear;
			margin-top: 2vh;

			&:hover {
				color: #F00;
			}
		}

		span#instructions {
			display: block;
			font-size: 3vh;
			transition: color 0.2s linear;
			margin-top: 5vh;

			&:hover {
				color: #00F;
			}
		}
	}

	.content {
		padding: 10px;
		width: calc(100vw - 40px);
		height: calc(100vh - (15% + 20px + 20px));
		overflow-y: hidden;

		.selector {
			display: grid;
			grid-template-columns: 50% 50%;
			
			.left {
				font-size: 36px;

				.header {
					font-weight: 400;
				}

				.badges {
					display: grid;
					height: 80vh;
					grid-template-columns: 20% 20% 20%;
					grid-template-rows: calc(80vh / 3) calc(80vh / 3) calc(80vh / 3);

					.badge {
						height: 90%;
						width: 90%;
						opacity: 0.2;
						transition: opacity 0.15s linear, height 0.1s linear, width 0.1s linear;

						&:hover {
							position: sticky;
							width: 105%;
							height: 105%;
							opacity: 1;
							cursor: pointer;
							z-index: 1;
						}
					}
				}
			}
	
			.right {
				position: relative;
				display: block;
				text-align: center;

				#badge {

					position: absolute;
					z-index: 1;

					img {
						height: calc(100vh * (2/3));
						width: calc(100vw * 0.2375);
					}
				}

				#serial {
					position: absolute;
					text-align: center;
					width: 15vw;
					z-index: 2;
					font-family: 'serif';
					color: #24275E;
					font-weight: 800;
					font-size: 5vh;
					left: 4.3vw;
					bottom: 11.3vh;
					background-color: transparent;
					border: 0;
					display: none;

					&:focus {
						outline: none;
					}

					&.visible {
						display: grid;
					}
				}
			}
		}
	}
}

#modal {
	position: absolute;
	z-index: 2;
	display: block;
	width: 0vw;
	height: 0vh;
	background: #FFFFFFF5;
	transition: height 0.1s linear, width 0.1s linear;
	margin: auto;
	left: 0;
	right: 0;
	top: 12vh;
	bottom: 0;
	text-align: center;
	max-width: 100vw;
}