<!DOCTYPE html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<div id="page"> 
  <div id="modal">
    <canvas id="canvas" width="500" height="500"></canvas>
  </div>
  <div class="wrapper" (click)="clickWrapper()">
    <div class="header">
      <span>Los Santos Police Department</span>
      <span class="sub-header">Badge Creator</span>
      <span id="instructions">Select a badge to begin</span>
    </div>
    <div class="content">
      <div class="selector">
        <div class="left">
          <div class="header">Select a badge type:</div>
          <div class="badges">
            <div *ngFor="let image of images;">
              <img class="badge" [src]="imagesDir + image" (click)="onClick(image)" />
            </div>
          </div>
        </div>
        <div class="right">
          <div id="badge">
            <input maxlength="5" id="serial" (keyup)="onKeyUp($event)" />
            <img *ngIf="hasSelectedImg" [src]="imagesDir + selectedImage" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>